<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    
    <div class="not-found content">
        Oops, We can't get you there &gt; &lt;
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>